<div class="post">

    <br>
    <header class="post-header">
        <h2 class="post-title">Work Experience</h2>
    </header>
    <br>
    <article>
        <h5><b><a href="https://research.samsung.com/">Samsung Research</a></b></h5>
            <ul>
                <li>AI Method Team  /  Researcher  /  Aug. 2021 - Now</li>
            </ul>

        <h5><b><a href="https://www.navercorp.com/en">Naver Corp.</a></b></h5>
            <ul>
                <li style="margin: 2px 0">Clova Biz AI  /  Intern  /  Nov. 2018 - Feb. 2019</li>
                <li>Apollo Backend  /  Intern  /  Jul. 2018 - Aug. 2018</li>
            </ul>
    </article>

    <br>
    <br>

    <header class="post-header">
        <h2 class="post-title">Research Project</h2>
    </header>
    <br>
    <article>
        <h5><b><a href="https://aiis.snu.ac.kr/eng/eng1_3_2.php">Video Turing Test</a></b></h5>
        <ul>
            <li>Seoul National University  /  Researcher  /  Sep. 2019 - Aug. 2021</li>
            <li>Conducted research in the video domain and published papers in ACL 2021 and AAAI 2021, advised by Byoung-Tak Zhang</li>
            <li>Participated in organizing DramaQA challenges and Video Turing Test workshops (ECCV 2020, ICCV 2019) : visit <a href="https://dramaqa.snu.ac.kr/">DramaQA homepage</a>!</li>
        </ul>
    </article>


    <br>
    <br>
    <header class="post-header">
        <h2 class="post-title">Education</h2>
    </header>
    <br>
    <article>
        <h5>Seoul National University</h5>
        <ul>
            <li>Ms.D. student in NeuroScience (Adviser: Byoung-Tak Zhang)</li>
            <li>Thesis: Motion-Appearance Synergistic Networks for Video Question Answering</li>
            <li>Seoul, Republic of Korea  /  2019.09 - 2021.08</li>
        </ul>

        <h5>Hanyang University</h5>
        <ul>
            <li>Bachelor of Engineering in Computer Engineering</li>
            <li>Seoul, Republic of Korea  /  2014.03 - 2019.08</li>
        </ul>

        <h5>Nanyang Technological University</h5>
        <ul>
            <li>Exchange Student  /  2016.01 - 2016.06  /  Singapore</li>
        </ul>
    </article>

    <br>
    <br>

</div>
