<div class="post">

    <br>
    <header class="post-header">
        <h2 class="post-title">Work Experience</h2>
    </header>
    <br>
    <article>
        <h5><b><a href="https://research.samsung.com/">Samsung Research</a></b></h5>
        <i><b>AI Method Team</b> (Aug. 2021 - Now), &nbsp;&nbsp;Researcher </i>
        <p></p>
        <ul style="padding-left: 12px">
            <li><b>Large-scale AI</b>: researching a dual-system model to complement the reasoning limitations of large-scale models</li>
            <li><b>Neuro-Symbolic Content Search</b>: improved a content search engine to consider both lexical and semantic clues in queries</li>
        </ul>
        <br>
        <h5><b><a href="https://www.navercorp.com/en">Naver Corp.</a></b></h5>
        <p style="line-height:1.5">
            <i><b>Clova Biz AI</b> (Nov. 2018 - Feb. 2019), &nbsp;&nbsp;Intern  <br>
            <b>Apollo Backend</b> (Jul. 2018 - Aug. 2018), &nbsp;&nbsp;Intern</i>
        </p>
    </article>

    <br>
    <br>

    <header class="post-header">
        <h2 class="post-title">Research Project</h2>
    </header>
    <br>
    <article>
        <h5><b><a href="https://aiis.snu.ac.kr/eng/eng1_3_2.php">Video Turing Test</a></b></h5>
        <i><b>Seoul National University</b> (Sep. 2019 - Aug. 2021), &nbsp;Researcher &nbsp;(Adviser: Byoung-Tak Zhang)</i>
        <p></p>
        <ul style="padding-left: 12px">
            <li>In the field of Video QA, research to allow the AI to robustly and explicitly reason via structuring information based on interdisciplinary knowledge, and published papers in ACL 2021 and AAAI 2021</li>
            <li>Participated in organizing DramaQA challenges and Video Turing Test workshops (ECCV 2020, ICCV 2019) : visit <a href="https://dramaqa.snu.ac.kr/">DramaQA homepage</a>!</li>
        </ul>
    </article>


    <br>
    <br>
    <header class="post-header">
        <h2 class="post-title">Education</h2>
    </header>
    <br>
    <article>
        <h5 style="display: inline">Seoul National University </h5> &nbsp;(2019.09 - 2021.08)
        <ul style="padding-left: 0px; list-style: none">
            <li><i>Master of Science in NeuroScience</i> </li>
            <li>Thesis: Motion-Appearance Synergistic Networks for Video Question Answering (Adviser: Byoung-Tak Zhang)</li>
            <li>Seoul, Republic of Korea</li>
        </ul>

        <h5 style="display: inline">Hanyang University</h5> &nbsp;(2014.03 - 2019.08)
        <ul style="padding-left: 0px; list-style: none">
            <li><i>Bachelor of Engineering in Computer Engineering</i></li>
            <li>Seoul, Republic of Korea</li>
        </ul>

        <h5 style="display: inline">Nanyang Technological University</h5> &nbsp;(2016.01 - 2016.06)
        <ul style="padding-left: 0px; list-style: none"">
            <li>Exchange Student, Singapore</li>
        </ul>
    </article>

    <br>
    <br>

</div>
