<div class="post">

    <br>
    <header class="post-header">
        <h2 class="post-title">Work Experience</h2>
    </header>

    <article>
        <ul>
            <li>
                <strong>Samsung Research</strong>, Engineer
                <dl>AI Method Team, Aug. 2021 - Now</dl>
            </li>
            <li>
                <strong>NAVER Corp. </strong>, Intern
                <dl>Clova Biz AI, Nov. 2018 - Feb. 2019</dl>
            </li>
            <li>
                <strong>NAVER Corp. </strong>, Intern
                <dl>Apollo Backend, Jul. 2018 - Aug. 2018</dl>
            </li>
        </ul>
    </article>

    <br>
    <br>
    <header class="post-header">
        <h2 class="post-title">Education</h2>
    </header>

    <article>
        <ul>
            <li>
                <strong>Seoul National University</strong>, Ms.D. student in NeuroScience
                <dl>Seoul, Republic of Korea (2019.09 - 2021.08)</dl>
            </li>
            <li>
                <strong>Hanyang University</strong>, Bachelor of Engineering in Computer Engineering
                <dl>Seoul, Republic of Korea (2014.03 - 2019.08)</dl>
            </li>
            <li>
                <strong>Nanyang Technological University</strong>, Exchange Student
                <dl>Singapore (2016.01 - 2016.06)</dl>
            </li>
        </ul>
    </article>

    <br>
    <br>

</div>
